$primary-text-color: var(--primary-text-color); // #363636
$button-text-color: var(--button-text-color); // #FFFFFF
$button-bcg-color: var(--button-bcg-color); // #00AFA9
$content-bcg-color: var(--content-bcg-color); // #DFFFFD
$tag-border-color: var(--tag-border-color); // #D7D2CC
$box-shadow-color: var(--box-shadow-color); // #00000021